.release-notes {max-width:100%}
.release-notes h1 {margin-top:1em !important; font-size:1.5em;padding-bottom:0.2em;border-bottom:1px solid #eaecef;max-width:100% !important}
.release-notes h2 {margin-top:1em;padding-bottom:0.2em;border-bottom:1px solid #eaecef}
.release-notes ol {margin-bottom:1em;padding-left:2em}
.release-notes ul {margin-bottom:1em;list-style-type:disc;padding-left:2em;margin-top:5px}
.release-notes ul ul {list-style-type:circle}
.release-notes li {margin:0;display:list-item}
.release-notes strong {font-weight:700}
.release-notes em {font-style:italic}
.release-notes span.sig {font-family:monospace}
.release-notes span.breaking-change {background-color:#d28282;padding:3px;border-radius:5px}
.release-notes span.annotation      {font-size:11px;font-weight:500;display:inline-block;padding:1px;width:110px;border-radius:5px;font-family:monospace;text-align:center}
.AdminThemeUikit .release-notes span.annotation  {font-size:12px;font-weight:400;padding:4px;}
.release-notes div.new-changes      {border-left: 4px solid yellow;margin-top:.25em;padding-bottom:5px;margin-bottom:0}
.release-notes div.new-changes h3   {padding-bottom:1px;margin-bottom:2px}
.release-notes div.old-changes      {border-left: 4px solid transparent;height:120px}
.release-notes div.all-changes      {height:400px}
.release-notes div.long             {height:500px}
.release-notes div.expand           {overflow-y:hidden}
.release-notes .cursor-pointer      {cursor:pointer}
.release-notes ul.commits{padding-left:0;list-style-type:none}
.release-notes li.commit {padding-bottom:1em;display:block}
.release-notes blockquote {padding:0 1em;color:#6a737d;border-left:0.25em solid #dfe2e5}
.release-notes pre {overflow-x:auto;background-color:#fcfcfc;word-wrap:normal;padding-right:1em}
.release-notes p code, .release-notes li code {background-color:#f3f3f3;border-radius:5px;padding:2px 10px}
.arrow-box {
	position: absolute;
	background: #88b7d5;
	border: 2px solid #c2e1f5;
  margin-left:-121px;
}
.arrow-box:after, .arrow-box:before {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.arrow-box:after {
	border-color: rgba(136, 183, 213, 0);
	border-left-color: #88b7d5;
	border-width: 5px;
	margin-top: -5px;
}
.arrow-box:before {
	border-color: rgba(194, 225, 245, 0);
	border-left-color: #c2e1f5;
	border-width: 8px;
	margin-top: -8px;
}
.arrow-box-current {
	background: #8fd593;
	border-color: #dff5bf;
}
.arrow-box-current:after {
	border-color: rgba(143, 213, 147, 0);
	border-left-color: #8fd593;
}
.arrow-box-current:before {
	border-color: rgba(223, 245, 191, 0);
	border-left-color: #dff5bf;
}
.breaking-change span.arrow-box {
	background: #d28282;
	border-color: #f2e262;
	color:#fff;
}
.breaking-change span.arrow-box:after {
	border-color: rgba(210, 130, 130, 0);
	border-left-color: #d28282;
}
.breaking-change span.arrow-box:before {
	border-color: rgba(242, 226, 98, 0);
	border-left-color: #f2e262;
}
.has-gutter {
  margin-left: 120px;
  padding-left:  2px;
}
